
.allOfall{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* padding-left: 10px; */
    background-color: var(--white);
    height: 100vh;
}
.experienceTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(30, 21, 44);
    margin-bottom: 10px;
       background-color: var(--white);
}
.all{
    margin-right: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(
    to top,
    
    var(--purple)0%,
    var(--white) 100%
  );
  z-index: -10;
}
.container{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}

.first{
    background-color:var(--white);
    width: 20%;
    /* height: 20VH; */
    z-index: 5;
    border-radius: 10px;
    color: var(--purple);
    border: 2px black solid;
    position: relative;
    top: -10px;
}
.second{
        /* background-color: blueviolet; */
        border-top: 5px black solid;         
        width: 20%;
        height: 4VH;
       position: relative;
       margin-top: 14vh;
}
.allOfall h1{
    text-align: center;
}
.third{
    background-color: var(--purple);
        width: 20%;
        /* height: 20VH; */
        position: relative;
        top: 35px;
    z-index: 5;
    border-radius: 10px;
    color: var(--white);
    border: 2px black solid;
}
.fourth{
    border-top: 5px black solid;         
    border-left: 5px black solid;         
    width: 30%;
    height: 70px;
    margin-left: 29%;
    position: relative; 
        top:-px;
        right: -2%;

} 

.container_second{
    margin: AUTO auto;
    width: 100vw;
     display: flex;
    /* justify-content: center; */

}
.container_second .first{
       position: relative; 
        top:-30px;
        right: -20%;
}
.third p,.first p{
   padding: 10px; 
}

.container h1,.container_second h1 {
    margin: 0%;
    text-align: center;
}
.noneDs{
    display: none;
}